body {
  color: rgb(37, 76, 192);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(145, 219, 194);
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
}

.container {
  background-color: rgb(174, 192, 209);
  padding: 5px;
  margin: 1em;
}

#search {
  margin-right: 20em;
}

#searchResults {
  margin: 0 1.5em 0 0;
}

#nominations {
  margin: 0 1.5em 0 0;
}

.flexboxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.resultsLine {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.results {
  margin: 0 1em 0 0;
}
